<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO" monitorInterval="0">
	<properties>
		<property name="base">%d{HH:mm:ss.SSS} [%t] %-5level %logger %msg%n</property>
		<property name="verbose">%d{HH:mm:ss.SSS} [%t] %-5level %logger - %X %msg%n</property>
	</properties>

	<appenders>
		<Console name="out" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${base}"/>
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
		</Console>
		<Console name="err" target="SYSTEM_ERR" follow="true">
			<PatternLayout pattern="${verbose}"/>
			<ThresholdFilter level="WARN" onMatch="NEUTRAL" onMismatch="DENY"/>
		</Console>
	</appenders>

	<loggers>
		<root level="INFO">
			<appender-ref ref="out"/>
			<appender-ref ref="err"/>
		</root>
		<!--<logger name="com.zaxxer.hikari" level="INFO"/>-->
		<!--<logger name="org.hibernate" level="INFO"/>-->
		<!--<logger name="org.springframework" level="INFO"/>-->
		<logger name="io.whatthedill" level="DEBUG"/>
	</loggers>
</configuration>
